<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>GodoxController</string>
    <key>CFBundleIdentifier</key>
    <string>com.jamie.godoxcontroller</string>
    <key>CFBundleName</key>
    <string>Godox Controller</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>需要使用蓝牙直连神牛引闪器进行无线调参控制</string>
</dict>
</plist>
